.container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #f0f2f5;
}
.smiley{
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
}
.plus{
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
}
.message{
  width: 46rem;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding-left: 2rem;
}
.message > input{
  border-radius: 10px;
  border-color: transparent;
  font-size: 1rem;
  color: #888;
  background-color: white;

}
.message > input:focus{
  outline:none;
  
}
.speaker{
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
}
