.container{
  display: flex;
  flex-direction: column;
  height: 43rem;
  border-right: 2px solid #ccc;
}
.header{
  height: 3.5rem;
  background-color: red;
}
.search{
  height: 3.5rem;
  background-color:BLUE;
}
.Chats{
  height: 36rem;
  background-color:green;
}
